<img src="https://www.dmproperties.com/cms/wp-content/uploads/2015/10/crecimiento-sector-inmobiliario-espanol-610x407.jpg" alt="spotify" width="300"/>

<h1 style="text-align: center;">Limpieza de datos inmoviliarios Urbania</h1>

## Librerias a usar

In [1]:
import pandas as pd
import matplotlib.pylab as plt

## Lectura del archivo CSV obtenido del webscrapping

In [2]:
file1='C:\\Users\\ADMIN\\Desktop\\prueba1\\Urbania_Venta.csv'
file2='C:\\Users\\ADMIN\\Desktop\\prueba1\\Urbania_alquiler.csv'

In [3]:
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [4]:
display(df1.head(10))
display(df2.head(10))

,direccion,distrito,metraje,dormitorios,precio
0,Av Cipriano Dulanto 1351,"Pueblo Libre, Lima",38 a 104 m² tot.,1 a 3 dorm.,"S/ 261,780"
1,"Av. San Luis esquina Av. Angamos Este, esquina...","San Borja, Lima",37 a 115 m² tot.,1 a 2 dorm.,"S/ 297,000"
2,"Av Javier Prado Oeste 2291, Magdalena del Mar","Magdalena, Lima",41 a 126 m² tot.,1 a 3 dorm.,"S/ 385,000"
3,Esquina de Schell con Grimaldo del Solar,"Miraflores, Lima",64 a 131 m² tot.,2 a 3 dorm.,"S/ 652,702"
4,"Av. Los Faisanes 485, Chorrillos","Chorrillos, Lima",38 a 66 m² tot.,1 a 3 dorm.,"S/ 212,000"
5,Calle Las Palmeras 291. San Isidro,"Orrantia, San Isidro",40 a 81 m² tot.,1 a 3 dorm.,"S/ 354,859"
6,Avenida Cesar Vallejo 320,"S/n, Lince",21 a 119 m² tot.,1 a 3 dorm.,"S/ 219,600"
7,Avenida General Felipe Salaverry 571,"Jesús María, Lima",39 a 75 m² tot.,1 a 3 dorm.,"S/ 290,000"
8,"Calle Alcalá 468, Urb. Residencial La Castella...","La Castellana, Santiago de Surco",95 a 153 m² tot.,2 a 4 dorm.,"S/ 649,762 · USD 173,270"
9,AV LUIS ALDANA 255,"Santa Catalina, La Victoria",38 a 76 m² tot.,1 a 2 dorm.,"S/ 366,000"

,direccion,distrito,metraje,dormitorios,precio
0,Av. Javier Prado Oeste 2165 - 2177,"Orrantia, San Isidro",67 a 153 m² tot.,1 a 3 dorm.,"S/ 572,672 · USD 152,712"
1,Paseo de la República 6349,"San Antonio, Miraflores",122 a 256 m² tot.,2 a 3 dorm.,"S/ 919,363 · USD 245,945"
2,jr fernando castrat 100,"Santiago de Surco, Lima",80 a 144 m² tot.,2 a 4 dorm.,"S/ 688,149 · USD 176,448"
3,NaN,NaN,NaN,NaN,NaN
4,Av. Juan de Arona 110,"San Isidro, Lima",46 a 61 m² tot.,1 a 2 dorm.,"S/ 2,900 · USD 760"
5,Av. Juan de Arona 110,"San Isidro, Lima",46 a 60 m² tot.,1 a 2 dorm.,"S/ 2,900 · USD 760"
6,Jr.echenique 600 Magdalena,"Magdalena, Lima",80 m² tot.,2 dorm.,"S/ 2,500 · USD 672"
7,NaN,NaN,NaN,NaN,NaN
8,Av San Luis,"San Borja Norte, San Borja",180 m² tot.,6 dorm.,"S/ 15,500 · USD 3,999"
9,"Av sergio bernales, Surquillo","Barrio Medico, Surquillo",60 m² tot.,2 dorm.,"S/ 2,500 · USD 679"

## Escaneo de informacion (Dimension y Tipo de datos)

In [5]:
shapes = pd.DataFrame({
    'DataFrame': ['df1', 'df2'],
    'Shape': [df1.shape, df2.shape]
})

display(shapes)

  DataFrame      Shape
0       df1  (7500, 5)
1       df2  (7511, 5)

In [6]:
dtypes_df = pd.DataFrame({
    'df1': df1.dtypes,
    'df2': df2.dtypes,
})

display(dtypes_df)

                df1     df2
direccion    object  object
distrito     object  object
metraje      object  object
dormitorios  object  object
precio       object  object

# Limpieza de datos

1. Asegurarse de que no halla filas vacias o duplicadas.
2. La columna **precio** contiene el valor tanto en soles como en dolares, o solo el valor en soles.Se debe separar los valores en columnas correspondientes.
3. La columna **metraje** y **dormitorios** contienen valores que pertenecen a un rango. Esto representa a departamentos en venta en plano, lo cual no contempla nuestro caso de estudio.

In [7]:
df2 = df2.dropna(how='all')

In [8]:
display(df2.head(20))

,direccion,distrito,metraje,dormitorios,precio
0,Av. Javier Prado Oeste 2165 - 2177,"Orrantia, San Isidro",67 a 153 m² tot.,1 a 3 dorm.,"S/ 572,672 · USD 152,712"
1,Paseo de la República 6349,"San Antonio, Miraflores",122 a 256 m² tot.,2 a 3 dorm.,"S/ 919,363 · USD 245,945"
2,jr fernando castrat 100,"Santiago de Surco, Lima",80 a 144 m² tot.,2 a 4 dorm.,"S/ 688,149 · USD 176,448"
4,Av. Juan de Arona 110,"San Isidro, Lima",46 a 61 m² tot.,1 a 2 dorm.,"S/ 2,900 · USD 760"
5,Av. Juan de Arona 110,"San Isidro, Lima",46 a 60 m² tot.,1 a 2 dorm.,"S/ 2,900 · USD 760"
6,Jr.echenique 600 Magdalena,"Magdalena, Lima",80 m² tot.,2 dorm.,"S/ 2,500 · USD 672"
8,Av San Luis,"San Borja Norte, San Borja",180 m² tot.,6 dorm.,"S/ 15,500 · USD 3,999"
9,"Av sergio bernales, Surquillo","Barrio Medico, Surquillo",60 m² tot.,2 dorm.,"S/ 2,500 · USD 679"
10,Calle Padre Luis Tezza 139,"Santiago de Surco, Lima",72 m² tot.,1 dorm.,"S/ 1,800 · USD 465"
11,Calle Borgoño 300,"Miraflores, Lima",99 m² tot.,3 dorm.,"S/ 5,625 · USD 1,500"
12,Av. Argentina 1653,"Callao, Callao",71 m² tot.,3 dorm.,"S/ 1,400"
13,Av. El sol 965,"Chorrillos, Lima",57 m² tot.,2 dorm.,"S/ 1,500"
14,Exclusivo Flat Full Amoblado con una Amplia Te...,"Malecon Reserva, Miraflores",230 m² tot.,3 dorm.,"S/ 7,500 · USD 2,000"
15,Av Sergio Bernales,"Surquillo, Lima",98 m² tot.,3 dorm.,"S/ 3,020 · USD 800"
16,Calle La Florida 155,"San Isidro, Lima",53 m² tot.,1 dorm.,"S/ 2,800 · USD 740"
17,Jr Rodolfo Rutten al 310,"Lima, Lima",130 m² tot.,2 dorm.,"S/ 3,000 · USD 800"
18,AV. EL SOL,"Antonio Raimondi, Barranco",82 m² tot.,1 dorm.,"S/ 2,850 · USD 750"
19,"Malecón Pazos, Barranco, Perú","Barranco, Lima",270 m² tot.,3 dorm.,"S/ 12,025 · USD 3,250"
20,Av Belen 1xx,"San Isidro, Lima",128 m² tot.,2 dorm.,"S/ 4,810 · USD 1,300"
21,Urbanización lima polo Surco,"Santiago de Surco, Lima",230 m² tot.,3 dorm.,"S/ 6,341 · USD 1,700"

In [9]:
df1['precio'] = df1['precio'].astype(str)
df2['precio'] = df2['precio'].astype(str)

In [10]:
# Función para limpiar y separar la columna precio, y hacer la conversión de moneda
def clean_and_split_price(df, exchange_rate=3.7):
    # Limpiar la columna precio y separar en soles y dólares
    df['Precio Soles'] = df['precio'].apply(lambda x: x.split(' · ')[0] if 'S/' in x else None)
    df['Precio Dolares'] = df['precio'].apply(lambda x: x.split(' · ')[1] if ' · ' in x else x if 'USD' in x else None)
    
    # Eliminar caracteres no numéricos y convertir a float
    df['Precio Soles'] = df['Precio Soles'].str.replace(r'[^\d.]', '', regex=True).astype(float)
    df['Precio Dolares'] = df['Precio Dolares'].str.replace(r'[^\d.]', '', regex=True).astype(float)
    
    # Convertir valores faltantes
    df['Precio Soles'] = df.apply(lambda row: row['Precio Dolares'] * exchange_rate 
                                  if pd.isna(row['Precio Soles']) and not pd.isna(row['Precio Dolares']) else row['Precio Soles'], 
                                  axis=1)
    df['Precio Dolares'] = df.apply(lambda row: row['Precio Soles'] / exchange_rate 
                                  if pd.isna(row['Precio Dolares']) and not pd.isna(row['Precio Soles']) else row['Precio Dolares'], 
                                  axis=1)
    
    # Formatear los valores numéricos para evitar notación científica
    df['Precio Soles'] = df['Precio Soles'].map('{:,.2f}'.format)
    df['Precio Dolares'] = df['Precio Dolares'].map('{:,.2f}'.format)
    
    # Eliminar la columna original
    df = df.drop(columns=['precio'])
    
    return df

In [11]:
df1 = clean_and_split_price(df1)
df2 = clean_and_split_price(df2)

In [12]:
display(df1.head(20))
display(df2.head(20))

,direccion,distrito,metraje,dormitorios,Precio Soles,Precio Dolares
0,Av Cipriano Dulanto 1351,"Pueblo Libre, Lima",38 a 104 m² tot.,1 a 3 dorm.,"261,780.00","70,751.35"
1,"Av. San Luis esquina Av. Angamos Este, esquina...","San Borja, Lima",37 a 115 m² tot.,1 a 2 dorm.,"297,000.00","80,270.27"
2,"Av Javier Prado Oeste 2291, Magdalena del Mar","Magdalena, Lima",41 a 126 m² tot.,1 a 3 dorm.,"385,000.00","104,054.05"
3,Esquina de Schell con Grimaldo del Solar,"Miraflores, Lima",64 a 131 m² tot.,2 a 3 dorm.,"652,702.00","176,405.95"
4,"Av. Los Faisanes 485, Chorrillos","Chorrillos, Lima",38 a 66 m² tot.,1 a 3 dorm.,"212,000.00","57,297.30"
5,Calle Las Palmeras 291. San Isidro,"Orrantia, San Isidro",40 a 81 m² tot.,1 a 3 dorm.,"354,859.00","95,907.84"
6,Avenida Cesar Vallejo 320,"S/n, Lince",21 a 119 m² tot.,1 a 3 dorm.,"219,600.00","59,351.35"
7,Avenida General Felipe Salaverry 571,"Jesús María, Lima",39 a 75 m² tot.,1 a 3 dorm.,"290,000.00","78,378.38"
8,"Calle Alcalá 468, Urb. Residencial La Castella...","La Castellana, Santiago de Surco",95 a 153 m² tot.,2 a 4 dorm.,"649,762.00","173,270.00"
9,AV LUIS ALDANA 255,"Santa Catalina, La Victoria",38 a 76 m² tot.,1 a 2 dorm.,"366,000.00","98,918.92"
10,Calle Carlos Arrieta 271,"Barranco, Lima",40 a 88 m² tot.,1 a 2 dorm.,"370,830.00","98,888.00"
11,Av. Benavides 541 esquina con Alcanfores 495,"Leuro, Miraflores",50 a 214 m² tot.,1 a 3 dorm.,"402,375.00","107,300.00"
12,Av. 28 de julio 1365 miraflores,"San Antonio, Miraflores",87 a 178 m² tot.,3 dorm.,"750,000.00","200,000.00"
13,Av. Mariscal La Mar 1055 Miraflores,"Miraflores, Lima",42 a 137 m² tot.,1 a 3 dorm.,"507,000.00","130,000.00"
14,Ca. Las Acacias 263,"Malecon Armendariz, Miraflores",68 a 196 m² tot.,1 a 3 dorm.,"701,250.00","187,000.00"
15,"Av Javier Prado Oeste 650, Magdalena del Mar","Magdalena, Lima",100 m² tot.,3 dorm.,"579,000.00","158,000.00"
16,Penthouse 4 Dormitorios con Baño Incorporado C...,"Higuereta, Santiago de Surco",218 m² tot.,4 dorm.,"1,160,000.00","310,000.00"
17,CRISTOBAL DE PERALTA SUR 505,"Valle Hermoso, Santiago de Surco",743 m² tot.,NaN,"5,200,000.00","1,400,000.00"
18,Ingreso POR LAS Dunas,"La Planicie, La Molina",585 m² tot.,4 dorm.,"4,560,000.00","1,200,000.00"
19,Calle Fernandez Concha,"Miraflores, Lima",317 m² tot.,5 dorm.,"2,756,250.00","735,000.00"

,direccion,distrito,metraje,dormitorios,Precio Soles,Precio Dolares
0,Av. Javier Prado Oeste 2165 - 2177,"Orrantia, San Isidro",67 a 153 m² tot.,1 a 3 dorm.,"572,672.00","152,712.00"
1,Paseo de la República 6349,"San Antonio, Miraflores",122 a 256 m² tot.,2 a 3 dorm.,"919,363.00","245,945.00"
2,jr fernando castrat 100,"Santiago de Surco, Lima",80 a 144 m² tot.,2 a 4 dorm.,"688,149.00","176,448.00"
4,Av. Juan de Arona 110,"San Isidro, Lima",46 a 61 m² tot.,1 a 2 dorm.,"2,900.00",760.00
5,Av. Juan de Arona 110,"San Isidro, Lima",46 a 60 m² tot.,1 a 2 dorm.,"2,900.00",760.00
6,Jr.echenique 600 Magdalena,"Magdalena, Lima",80 m² tot.,2 dorm.,"2,500.00",672.00
8,Av San Luis,"San Borja Norte, San Borja",180 m² tot.,6 dorm.,"15,500.00","3,999.00"
9,"Av sergio bernales, Surquillo","Barrio Medico, Surquillo",60 m² tot.,2 dorm.,"2,500.00",679.00
10,Calle Padre Luis Tezza 139,"Santiago de Surco, Lima",72 m² tot.,1 dorm.,"1,800.00",465.00
11,Calle Borgoño 300,"Miraflores, Lima",99 m² tot.,3 dorm.,"5,625.00","1,500.00"
12,Av. Argentina 1653,"Callao, Callao",71 m² tot.,3 dorm.,"1,400.00",378.38
13,Av. El sol 965,"Chorrillos, Lima",57 m² tot.,2 dorm.,"1,500.00",405.41
14,Exclusivo Flat Full Amoblado con una Amplia Te...,"Malecon Reserva, Miraflores",230 m² tot.,3 dorm.,"7,500.00","2,000.00"
15,Av Sergio Bernales,"Surquillo, Lima",98 m² tot.,3 dorm.,"3,020.00",800.00
16,Calle La Florida 155,"San Isidro, Lima",53 m² tot.,1 dorm.,"2,800.00",740.00
17,Jr Rodolfo Rutten al 310,"Lima, Lima",130 m² tot.,2 dorm.,"3,000.00",800.00
18,AV. EL SOL,"Antonio Raimondi, Barranco",82 m² tot.,1 dorm.,"2,850.00",750.00
19,"Malecón Pazos, Barranco, Perú","Barranco, Lima",270 m² tot.,3 dorm.,"12,025.00","3,250.00"
20,Av Belen 1xx,"San Isidro, Lima",128 m² tot.,2 dorm.,"4,810.00","1,300.00"
21,Urbanización lima polo Surco,"Santiago de Surco, Lima",230 m² tot.,3 dorm.,"6,341.00","1,700.00"

In [13]:
df_combined = pd.concat([df1, df2], ignore_index=True)

In [14]:
df_combined = df_combined.drop_duplicates().dropna()

In [15]:
print(f'Total de filas: {df_combined.shape[0]}')
print(f'Total de columnas: {df_combined.shape[1]}')

Total de filas: 10673
Total de columnas: 6

In [16]:
output_file = 'C:\\Users\\ADMIN\\Desktop\\prueba1\\Combined_Inmobiliario_Urbania.csv'
df_combined.to_csv(output_file, index=False)