In [32]:
import pandas as pd
import re
import matplotlib.pylab as plt

In [33]:
file1='C:\\Users\\ADMIN\\Desktop\\prueba1\\Urbania_Venta.csv'
file2='C:\\Users\\ADMIN\\Desktop\\prueba1\\Urbania_alquiler.csv'

In [34]:
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [35]:
display(df1.head(20))
display(df2.head(20))

,direccion,distrito,metraje,dormitorios,precio
0,Av Cipriano Dulanto 1351,"Pueblo Libre, Lima",38 a 104 m² tot.,1 a 3 dorm.,"S/ 261,780"
1,"Av. San Luis esquina Av. Angamos Este, esquina...","San Borja, Lima",37 a 115 m² tot.,1 a 2 dorm.,"S/ 297,000"
2,"Av Javier Prado Oeste 2291, Magdalena del Mar","Magdalena, Lima",41 a 126 m² tot.,1 a 3 dorm.,"S/ 385,000"
3,Esquina de Schell con Grimaldo del Solar,"Miraflores, Lima",64 a 131 m² tot.,2 a 3 dorm.,"S/ 652,702"
4,"Av. Los Faisanes 485, Chorrillos","Chorrillos, Lima",38 a 66 m² tot.,1 a 3 dorm.,"S/ 212,000"
5,Calle Las Palmeras 291. San Isidro,"Orrantia, San Isidro",40 a 81 m² tot.,1 a 3 dorm.,"S/ 354,859"
6,Avenida Cesar Vallejo 320,"S/n, Lince",21 a 119 m² tot.,1 a 3 dorm.,"S/ 219,600"
7,Avenida General Felipe Salaverry 571,"Jesús María, Lima",39 a 75 m² tot.,1 a 3 dorm.,"S/ 290,000"
8,"Calle Alcalá 468, Urb. Residencial La Castella...","La Castellana, Santiago de Surco",95 a 153 m² tot.,2 a 4 dorm.,"S/ 649,762 · USD 173,270"
9,AV LUIS ALDANA 255,"Santa Catalina, La Victoria",38 a 76 m² tot.,1 a 2 dorm.,"S/ 366,000"
10,Calle Carlos Arrieta 271,"Barranco, Lima",40 a 88 m² tot.,1 a 2 dorm.,"S/ 370,830 · USD 98,888"
11,Av. Benavides 541 esquina con Alcanfores 495,"Leuro, Miraflores",50 a 214 m² tot.,1 a 3 dorm.,"S/ 402,375 · USD 107,300"
12,Av. 28 de julio 1365 miraflores,"San Antonio, Miraflores",87 a 178 m² tot.,3 dorm.,"S/ 750,000 · USD 200,000"
13,Av. Mariscal La Mar 1055 Miraflores,"Miraflores, Lima",42 a 137 m² tot.,1 a 3 dorm.,"S/ 507,000 · USD 130,000"
14,Ca. Las Acacias 263,"Malecon Armendariz, Miraflores",68 a 196 m² tot.,1 a 3 dorm.,"S/ 701,250 · USD 187,000"
15,"Av Javier Prado Oeste 650, Magdalena del Mar","Magdalena, Lima",100 m² tot.,3 dorm.,"S/ 579,000 · USD 158,000"
16,Penthouse 4 Dormitorios con Baño Incorporado C...,"Higuereta, Santiago de Surco",218 m² tot.,4 dorm.,"S/ 1,160,000 · USD 310,000"
17,CRISTOBAL DE PERALTA SUR 505,"Valle Hermoso, Santiago de Surco",743 m² tot.,NaN,"S/ 5,200,000 · USD 1,400,000"
18,Ingreso POR LAS Dunas,"La Planicie, La Molina",585 m² tot.,4 dorm.,"S/ 4,560,000 · USD 1,200,000"
19,Calle Fernandez Concha,"Miraflores, Lima",317 m² tot.,5 dorm.,"S/ 2,756,250 · USD 735,000"

,direccion,distrito,metraje,dormitorios,precio
0,Av. Javier Prado Oeste 2165 - 2177,"Orrantia, San Isidro",67 a 153 m² tot.,1 a 3 dorm.,"S/ 572,672 · USD 152,712"
1,Paseo de la República 6349,"San Antonio, Miraflores",122 a 256 m² tot.,2 a 3 dorm.,"S/ 919,363 · USD 245,945"
2,jr fernando castrat 100,"Santiago de Surco, Lima",80 a 144 m² tot.,2 a 4 dorm.,"S/ 688,149 · USD 176,448"
3,NaN,NaN,NaN,NaN,NaN
4,Av. Juan de Arona 110,"San Isidro, Lima",46 a 61 m² tot.,1 a 2 dorm.,"S/ 2,900 · USD 760"
5,Av. Juan de Arona 110,"San Isidro, Lima",46 a 60 m² tot.,1 a 2 dorm.,"S/ 2,900 · USD 760"
6,Jr.echenique 600 Magdalena,"Magdalena, Lima",80 m² tot.,2 dorm.,"S/ 2,500 · USD 672"
7,NaN,NaN,NaN,NaN,NaN
8,Av San Luis,"San Borja Norte, San Borja",180 m² tot.,6 dorm.,"S/ 15,500 · USD 3,999"
9,"Av sergio bernales, Surquillo","Barrio Medico, Surquillo",60 m² tot.,2 dorm.,"S/ 2,500 · USD 679"
10,Calle Padre Luis Tezza 139,"Santiago de Surco, Lima",72 m² tot.,1 dorm.,"S/ 1,800 · USD 465"
11,Calle Borgoño 300,"Miraflores, Lima",99 m² tot.,3 dorm.,"S/ 5,625 · USD 1,500"
12,Av. Argentina 1653,"Callao, Callao",71 m² tot.,3 dorm.,"S/ 1,400"
13,Av. El sol 965,"Chorrillos, Lima",57 m² tot.,2 dorm.,"S/ 1,500"
14,Exclusivo Flat Full Amoblado con una Amplia Te...,"Malecon Reserva, Miraflores",230 m² tot.,3 dorm.,"S/ 7,500 · USD 2,000"
15,Av Sergio Bernales,"Surquillo, Lima",98 m² tot.,3 dorm.,"S/ 3,020 · USD 800"
16,Calle La Florida 155,"San Isidro, Lima",53 m² tot.,1 dorm.,"S/ 2,800 · USD 740"
17,Jr Rodolfo Rutten al 310,"Lima, Lima",130 m² tot.,2 dorm.,"S/ 3,000 · USD 800"
18,AV. EL SOL,"Antonio Raimondi, Barranco",82 m² tot.,1 dorm.,"S/ 2,850 · USD 750"
19,"Malecón Pazos, Barranco, Perú","Barranco, Lima",270 m² tot.,3 dorm.,"S/ 12,025 · USD 3,250"

In [36]:
filas_nan1 = df1.isnull().sum(axis=1).eq(5)
filas_nan2 = df2.isnull().sum(axis=1).eq(5)

In [37]:
df1=df1[~filas_nan1]
df2=df2[~filas_nan2]

In [38]:
df1 = df1[~df1['metraje'].str.contains('a', na=False) & ~df1['dormitorios'].str.contains('a', na=False)]
df2 = df2[~df2['metraje'].str.contains('a', na=False) & ~df2['dormitorios'].str.contains('a', na=False)]

In [39]:
def extraer_numeros(metraje):
    if pd.isna(metraje):
        return 0
    # Usar expresión regular para extraer números
    numeros = re.findall(r'\d+', str(metraje))
    # Si se encuentra algún número, convertir a entero, si no, devolver 0
    return int(numeros[0]) if numeros else 0

In [40]:
df1['metraje'] = df1['metraje'].astype(str).apply(extraer_numeros)
df2['metraje'] = df2['metraje'].astype(str).apply(extraer_numeros)

In [41]:
display(df1)
display(df2)

,direccion,distrito,metraje,dormitorios,precio
15,"Av Javier Prado Oeste 650, Magdalena del Mar","Magdalena, Lima",100,3 dorm.,"S/ 579,000 · USD 158,000"
16,Penthouse 4 Dormitorios con Baño Incorporado C...,"Higuereta, Santiago de Surco",218,4 dorm.,"S/ 1,160,000 · USD 310,000"
17,CRISTOBAL DE PERALTA SUR 505,"Valle Hermoso, Santiago de Surco",743,NaN,"S/ 5,200,000 · USD 1,400,000"
18,Ingreso POR LAS Dunas,"La Planicie, La Molina",585,4 dorm.,"S/ 4,560,000 · USD 1,200,000"
19,Calle Fernandez Concha,"Miraflores, Lima",317,5 dorm.,"S/ 2,756,250 · USD 735,000"
...,...,...,...,...,...
7495,Malecón Balta 810,"Miraflores, Lima",120,3 dorm.,"S/ 1,018,000 · USD 268,000"
7496,Monte umbroso,"Chacarilla Monte Umbroso, Santiago de Surco",229,3 dorm.,"S/ 2,139,200 · USD 560,000"
7497,Avenida Santo Domingo de Los Olleros,"Chilca, Cañete",20000,NaN,"S/ 8,473,000 · USD 2,290,000"
7498,Calle Malaga 289,"Higuereta, Santiago de Surco",125,3 dorm.,"S/ 855,000 · USD 225,000"
7499,Alameda Los Heraldos 160,"La Encantada De Villa, Chorrillos",218,3 dorm.,"S/ 2,510,000 · USD 650,000"

,direccion,distrito,metraje,dormitorios,precio
6,Jr.echenique 600 Magdalena,"Magdalena, Lima",80,2 dorm.,"S/ 2,500 · USD 672"
8,Av San Luis,"San Borja Norte, San Borja",180,6 dorm.,"S/ 15,500 · USD 3,999"
9,"Av sergio bernales, Surquillo","Barrio Medico, Surquillo",60,2 dorm.,"S/ 2,500 · USD 679"
10,Calle Padre Luis Tezza 139,"Santiago de Surco, Lima",72,1 dorm.,"S/ 1,800 · USD 465"
11,Calle Borgoño 300,"Miraflores, Lima",99,3 dorm.,"S/ 5,625 · USD 1,500"
...,...,...,...,...,...
7504,luis pasteur,"San Isidro, Lima",53,1 dorm.,"S/ 2,450 · USD 650"
7505,CONDOMINIO ALAMEDA CENTRAL,"Lima Cercado, Lima",65,3 dorm.,"S/ 1,700"
7506,PASAJE LA ESPAÑOLA,"Costa Sur, Chorrillos",166,3 dorm.,"S/ 4,070 · USD 1,100"
7507,av francisco bolognesi,"Bello Horizonte, Cayma",300,5 dorm.,"S/ 5,800"
7508,RIO SECO,"12 De Octubre, Cerro Colorado",208,6 dorm.,"S/ 3,000 · USD 850"

In [42]:
df1['precio'] = df1['precio'].astype(str)
df2['precio'] = df2['precio'].astype(str)

In [43]:
# Función para limpiar y separar la columna precio, y hacer la conversión de moneda
def clean_and_split_price(df, exchange_rate=3.7):
    # Limpiar la columna precio y separar en soles y dólares
    df['Precio Soles'] = df['precio'].apply(lambda x: x.split(' · ')[0] if 'S/' in x else None)
    df['Precio Dolares'] = df['precio'].apply(lambda x: x.split(' · ')[1] if ' · ' in x else x if 'USD' in x else None)

    # Eliminar caracteres no numéricos y convertir a float
    df['Precio Soles'] = df['Precio Soles'].str.replace(r'[^\d.]', '', regex=True).astype(float)
    df['Precio Dolares'] = df['Precio Dolares'].str.replace(r'[^\d.]', '', regex=True).astype(float)

    # Convertir valores faltantes
    df['Precio Soles'] = df.apply(lambda row: row['Precio Dolares'] * exchange_rate 
                                  if pd.isna(row['Precio Soles']) and not pd.isna(row['Precio Dolares']) else row['Precio Soles'], 
                                  axis=1)
    df['Precio Dolares'] = df.apply(lambda row: row['Precio Soles'] / exchange_rate 
                                  if pd.isna(row['Precio Dolares']) and not pd.isna(row['Precio Soles']) else row['Precio Dolares'], 
                                  axis=1)

    # Formatear los valores numéricos para evitar notación científica
    df['Precio Soles'] = df['Precio Soles'].map('{:,.2f}'.format)
    df['Precio Dolares'] = df['Precio Dolares'].map('{:,.2f}'.format)

    # Eliminar la columna original
    df = df.drop(columns=['precio'])

    return df

In [44]:
df1=clean_and_split_price(df1)

In [45]:
df2=clean_and_split_price(df2)

In [46]:
df3 = pd.concat([df1, df2], ignore_index=True)

In [47]:
df3

,direccion,distrito,metraje,dormitorios,Precio Soles,Precio Dolares
0,"Av Javier Prado Oeste 650, Magdalena del Mar","Magdalena, Lima",100,3 dorm.,"579,000.00","158,000.00"
1,Penthouse 4 Dormitorios con Baño Incorporado C...,"Higuereta, Santiago de Surco",218,4 dorm.,"1,160,000.00","310,000.00"
2,CRISTOBAL DE PERALTA SUR 505,"Valle Hermoso, Santiago de Surco",743,NaN,"5,200,000.00","1,400,000.00"
3,Ingreso POR LAS Dunas,"La Planicie, La Molina",585,4 dorm.,"4,560,000.00","1,200,000.00"
4,Calle Fernandez Concha,"Miraflores, Lima",317,5 dorm.,"2,756,250.00","735,000.00"
...,...,...,...,...,...,...
13512,luis pasteur,"San Isidro, Lima",53,1 dorm.,"2,450.00",650.00
13513,CONDOMINIO ALAMEDA CENTRAL,"Lima Cercado, Lima",65,3 dorm.,"1,700.00",459.46
13514,PASAJE LA ESPAÑOLA,"Costa Sur, Chorrillos",166,3 dorm.,"4,070.00","1,100.00"
13515,av francisco bolognesi,"Bello Horizonte, Cayma",300,5 dorm.,"5,800.00","1,567.57"
13516,RIO SECO,"12 De Octubre, Cerro Colorado",208,6 dorm.,"3,000.00",850.00